@model IEnumerable<LaptopsApp.Web.Models.Laptop>

@{
    Layout = "_Layout";
}

<h2 class="mb-3">Laptops List</h2>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>GUID</th>
            <th>Model</th>
            <th>Processor</th>
            <th>Producer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var laptop in Model)
        {
            <tr>
                <td>@laptop.Id</td>
                <td>@laptop.Model</td>
                <td>@laptop.Processor</td>
                <td>@laptop.Producer.Name</td>
                <td>
                    <a href="@Url.Action("Details", "Laptop", new { id = laptop.Id })" class="btn btn-info btn-sm">Details</a>
                    <a href="@Url.Action("Edit", "Laptop", new { id = laptop.Id })" class="btn btn-primary btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Laptop", new { id = laptop.Id })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Laptop")" class="btn btn-success">Create New</a>
